{
  "singleQuote": false,
  "printWidth": 100,
  "overrides": [
    {
      "files": [
        "server/index.ts",
        "**/test-utils/mock-data/generator.ts",
        "**/*reducer.ts"
      ],
      "options": { "printWidth": 110 }
    }
  ]
}
